{% extends 'layout.html.twig' %}
{% block title %}New Customer{% endblock %}

{% block content %}

    <main class="main-body" id="main">
        <form action="{{ action_create_customer }}" method="post">
            <div class="container-row">
                <h1 class="big-title">Add New Customer</h1>
                <!--       <a id="addItem" class="button-small shadow addItem">
                           <i class="fas fa-plus plus"></i>
                           <span class="btn-text">Add Customer</span>
                       </a> -->
            </div>

            <div class="row-col-inputs">
                <div class="col-inputs shadow shell">

                    <div class="input-container">
                        <h2 class="col-title">Customer Information (1/2)</h2>
                        <div class="line-blue"></div>
                    </div>

                    <div class="input-container">
                        <label for="">Salutation</label>
                        <input value="" type="text" name="salutation" autofocus>
                    </div>

                    <div class="input-container">
                        <label for="">First Name (required)</label>
                        <input autocomplete="off" value="" type="text" name="first_name" required>
                    </div>

                    <div class="input-container">
                        <label for="">Last Name (required)</label>
                        <input autocomplete="off" value="" type="text" name="last_name" required>
                    </div>

                    <div class="input-container">
                        <label for="">Email (required)</label>
                        <input autocomplete="off" value="" type="text" name="email" required>
                    </div>

                    <div class="input-container">
                        <label for="">Alt. Email</label>
                        <input autocomplete="off" value="" type="text" name="alt_email">
                    </div>

                    <div class="input-container">
                        <label for="">Phone Number</label>
                        <input autocomplete="off" value="" type="text" name="phone_number">
                    </div>

                    <div class="input-container">
                        <label for="">Alt. Phone Number</label>
                        <input autocomplete="off" value="" type="text" name="alt_phone_number">
                    </div>

                </div>


                <div class="col-inputs shadow shell">

                    <div class="input-container">
                        <h2 class="col-title">Customer Information (2/2)</h2>
                        <div class="line-blue"></div>
                    </div>

                    <div class="input-container">
                        <label for="">Company Name (required)</label>
                        <input autocomplete="off" value="" type="text" name="company_name" required>
                    </div>

                    <div class="input-container">
                        <label for="">Website</label>
                        <input autocomplete="off" value="" type="text" name="website">
                    </div>

                    <div class="input-container">
                        <label for="">Pref. Curreency</label>
                        <input autocomplete="off" value="" type="text" name="pref_currency">
                    </div>

                    <div class="input-container">
                        <label for="">Billing Address</label>
                        <textarea autocomplete="off" name="billing_address" rows="4" cols="20"></textarea>
                    </div>

                    <div class="input-container">
                        <label for="">Notes</label>
                        <textarea autocomplete="off" name="notes" rows="4" cols="20"></textarea>
                    </div>

                    <div class="input-container">
                        <button type="submit">Create Customer</button>
                    </div>

                </div>

            </div>


        </form>

    </main>





{% endblock %}