{% extends 'layout.html.twig' %}
{% block title %}New Item{% endblock %}

{% block content %}

    <main class="main-body">
        <form action="{{ action_create_item }}" method="post">
            <div class="container-row">
                <h1 class="big-title">Add New Item</h1>
            </div>

            <div class="row-col-inputs">
                <div class="col-inputs shadow shell">

                    <div class="input-container">
                        <h2 class="col-title">Item Information (1/2)</h2>
                        <div class="line-blue"></div>
                    </div>

                    <div class="input-container">
                        <label for="">SKU</label>
                        <input value="" type="text" name="sku" autofocus>
                    </div>

                    <div class="input-container">
                        <label for="">Selling Price</label>
                        <input value="" type="text" name="selling_price">
                    </div>

                    <div class="input-container">
                        <label for="">Purchase Price</label>
                        <input value="" type="text" name="purchase_price">
                    </div>

                    <div class="input-container">
                        <label for="">Barcode Code</label>
                        <input value="" type="text" name="barcode_code">
                    </div>

                    <div class="input-container">
                        <label for="">Warehouse Location</label>
                        <input value="" type="text" name="warehouse_location">
                    </div>

                    <div class="input-container">
                        <label for="">On-hand Stock</label>
                        <input value="" type="text" name="stock">
                    </div>

                </div>


                <div class="col-inputs shadow shell">

                    <div class="input-container">
                        <h2 class="col-title">Item Information (2/2)</h2>
                        <div class="line-blue"></div>
                    </div>

                    <div class="input-container">
                        <label for="">Item Name</label>
                        <input value="" type="text" name="item_name">
                    </div>

                    <div class="input-container">
                        <label for="">Manufacturer</label>
                        <input value="" type="text" name="manufacturer">
                    </div>

                    <div class="input-container">
                        <label for="">Part Number</label>
                        <input value="" type="text" name="part_number">
                    </div>

                    <div class="input-container">
                        <label for="">Serial Number</label>
                        <input value="" type="text" name="serial_number">
                    </div>

                    <div class="input-container">
                        <label for="">Description</label>
                        <textarea name="description" rows="3" cols="20"></textarea>
                    </div>

                    <div class="input-container">
                        <button type="submit">Create Item</button>
                    </div>

                </div>

            </div>

        </form>
        
    </main>

{% endblock %}