{% extends 'layout.html.twig' %}
{% block title %}Add New User{% endblock %}
{% block content %}

<div class="container">

    <form action="{{ action_register }}" method="post">

        <h2>Add New User</h2>

        <div class="text-wrapper">
            <input class="input" type="text" name="username" />
            <label>Username</label>
        </div>

        <div class="text-wrapper">
            <input class="input" type="password" name="password" />
            <label>Password</label>
        </div>

        <div class="text-wrapper">
            <input class="input" type="text" name="name" />
            <label>name</label>
        </div>

        <div class="text-wrapper">
            <input class="input" type="text" name="surname" />
            <label>surname</label>
        </div>

        <button type="submit" class="btn-blue" name="register">Submit</button>
        
    </form>
    
     <h4 class="error-msg">{{ error_message }}</h4>

</div>

{% endblock %}