{% extends 'layout.html.twig' %}
{% block title %}Register{% endblock %}
{% block content %}

    <main class="main-body">

        <form action="{{ action_register }}" method="post">


            <div class="col-inputs shadow shell">

                <h2 class="col-title">Add New User</h2>

                <div class="input-container">
                    <label>Username</label>
                    <input class="input" type="text" name="username"/>
                </div>

                <div class="input-container">
                    <label>Password</label>
                    <input class="input" type="password" name="password"/>
                </div>

                <div class="input-container">
                    <label>Name</label>
                    <input class="input" type="text" name="name"/>
                </div>

                <div class="input-container">
                    <label>Surname</label>
                    <input class="input" type="text" name="surname"/>
                </div>

                <div class="input-container">
                    <button type="submit" class="btn-blue" name="register">Submit</button>
                </div>
            </div>
        </form>

        <h4 class="error-msg">{{ error_message }}</h4>

    </main>

{% endblock %}