* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

html {
    background-color: #E1E5EA;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.go-down {
    justify-self: end;
    bottom: 0;
}

.indicator-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    margin: 10px auto;
    height: 200px;

    min-width: 50px;
    max-width: 300px;
}

.large-no {
    color: #007AFF;
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
}

.pointer:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.shadow {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

/**/

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
}

.login-form {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    padding-bottom: 10%;
}

.login-form-contents {
    width: 90%;
    margin: auto;
}

button {
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 15px 30px;
    min-width: 250px;
    background-color: #007AFF;
    color: white;
    font-size: 100%;
    cursor: pointer;

}

.button {
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 15px 30px;
    min-width: 250px;
    background-color: #007AFF;
    color: white;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
}

.blue {
    color: #007AFF;
}

button:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

.button-red {
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 15px 30px;
    min-width: 250px;
    background-color: rgb(206, 0, 0);;
    color: white;
    font-size: 100%;
    cursor: pointer;
}

.line {
    width: 100%;
    margin: 10px auto;
    height: 0.5px;
    background-color: #2e4984;
}

.line-blue {
    width: 100%;
    margin: 10px auto;
    height: 1px;
    border-radius: 100px;
    background-color: #E1E5EA;
}

/**/


h1,
h2,
h3 {
    color: black;
}

h1 {
    font-size: 150%
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 90%;
}

.col-title {
    font-size: 150%;
    font-weight: 400;
}


.big-title {
    font-size: 200%;
    font-weight: 300;
}

.logo-login {
    color: #007AFF;
    text-align: center;
    margin: 50px auto;
    font-size: 300%;
}


.top-bar {
    width: 100%;
    margin-left: 0;
    height: 60px;
    background-color: white;

    align-items: center;
    justify-content: space-between;
    z-index: 3;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}


.logo {
    text-align: center;
    color: #007AFF;
    margin: 20px auto;
    font-size: 150%;
    font-weight: 700;
}

a.menu-button {
    font-size: 150%;
    color: #007AFF;
    margin: auto 20px;
}

.user-container {
    margin: auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.username {
    color: black;
    font-weight: 500;
    font-size: 90%;
}

.user-icon {
    margin: auto 10px;
    font-size: 150%;
    color: #007AFF;
}

.side-menu {
    display: none;
}

main {
    padding-top: 130px;
    width: 100%;
}

.menu-open {
    margin: 60px 0 0 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    display: block;
    z-index: 2;
}

.menu-items {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 10px 20px;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 90%;
}

.menu-header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 80%;
    letter-spacing: 1px;
    color: #637db7;
    padding: 60px 20px 10px 20px;
}

.menu-item:hover {
    background-color: #02153f;
}


.icon {
    color: rgb(148, 148, 148);
    font-size: 150%;
    margin: auto;
    padding-bottom: 5px;
}


.button-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #007AFF;
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 80%;
}
.button-small:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}


.plus {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.btn-text {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

.arrow {
    margin: 0 5px 0 15px;
}

.input-search {
    margin: 15px 20px;
    height: 40px;
    width: calc(100% - 40px);
    outline: none;
    padding: auto;
    font-size: 100%;
    font-weight: 300;
    border: none;
}

.input-search:focus {
    border: none;
}


select {
    background-color: transparent;
    height: 50px;
    margin: 0;
    width: 100%;
    padding: 10px 30px;
    border-radius: 15px;
    border: 2px solid #E1E5EA;
    outline: none;
    font-size: 100%;
    color: black;
    min-width: 250px;
}

.sort-buttons {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
}

.container-row {
    margin: 0 10px 50px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.table {
    min-width: calc(100% - 20px);
    margin: 0 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
    table-layout: fixed;
    margin: 0 0 10px 0;
    min-width: 100%;
}

th {
    font-weight: 400;
}

.table-titles {
    color: grey;
    font-size: 100%;
    background-color: #f9f9f9;
}

th.sort {
    cursor: pointer;
}

tr {
    height: 60px;
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
}

tr:first-child {
    border-top: none;
    border-left: none;
    border-right: none;
}

tr:last-child {
    border-bottom: none;
}

.table-titles:hover {
    box-shadow: none;
}

tr:hover {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
    cursor: auto;
    border-radius: 10px;
}


tr td:first-child {
    border-left: 5px solid transparent;
}

tr:hover > td:first-child {
    border-left: 5px solid #007AFF;
}

tr.table-titles:hover {
    cursor: auto;
    transform: scale(1);
}

.scroll-container {
    overflow-x: scroll;
}

 .no-hover:hover {
    box-shadow: none;
     cursor: auto;
}

td,
th {
    white-space: nowrap;
    border: 0px;
    text-align: left;
    padding: 20px;

}

.text-center {
    text-align: center;
    align-items: center;
}

.indicator {
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: rgb(206, 0, 0);
}

.on {
    background-color: #49D662;
}




/***   New Sales Order   ***/

label {
    margin: 0 0 5px 5px;
    font-size: 100%;
    color: grey;
}


input, textarea {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid #E1E5EA;
    outline: none;
    font-size: 100%;
    color: black;
    min-width: 250px;
}

.passed {
    border: 2px solid #49D662;
}

.failed {
    border: 2px solid rgb(206, 0, 0);;
}


select:focus, input:focus {
    border: 2px solid #007AFF;
}

.input-container:hover label {
    color: #007AFF;
}

.input-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.input-container-row {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.input-info {
    margin: 2px;
    font-size: 80%;
    color: grey;
    font-weight: 200;
}

.question-mark {
    margin: 0 5px 0 0;
}

.col-inputs {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.row-inputs {
    margin: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.row2-inputs {
    margin: 10px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.tag {
    font-weight: 500;
    margin-right: 5px;
}

.row-col-inputs {
    width: calc(100% - 20px);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.shell {
    background-color: #fff;
    border-radius: 10px;
}

#new-so-table {
    margin-top: 50px;
}

.remove-item {
    color: #D0021B;
    cursor: pointer;
    font-size: 120%;
}

.remove-item:hover {
    transform: scale(1.5);
}

.add-item {
    display: flex;
    margin: 50px;
    color: #007AFF;
    cursor: pointer;
    align-items: center;
}

.add-icon {
    margin: 0 10px;
    font-size: 150%;
}

.table-input {
    width: auto;
    min-width: 10px;
    background-color: transparent;
    margin: 0;
    border: 1px solid black;
}


/*    Slider CSS    */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(206, 0, 0);
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #49D662;
}


input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*    End Slider CSS    */

/**********************************/


/* TABLET STYLES */


@media screen and (min-width: 530px) {

    h1 {
        font-size: 200%
    }

    h2 {
        font-size: 150%;
    }

    h3 {
        font-size: 100%;
    }

    .big-title {
        font-size: 250%;
    }

    .button-small {
        padding: 10px 30px;
        border-radius: 5px;
        font-size: 100%;
        cursor: pointer;
    }


    .login-form {
        margin: auto;
        width: 40%;
        padding-bottom: 10%;
    }



    .modal-content {
        width: 33%;
    }

    .container-row {
        margin: 0 60px 50px 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .table {
        width: calc(100% - 100px);
        margin: 0 50px;
    }

    .row-inputs {
        margin: 10px;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
    }


}


/* DESKTOP STYLES */

@media screen and (min-width: 1200px) {

    .side-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        margin-top: -60px;
        height: 100vh;
        width: 200px;
        position: fixed;
        background: #031B4D;
        display: block;
    }

    main {
        padding-top: 130px;
        margin-left: 200px;
        width: calc(100% - 200px);
        height: 100vh;
    }

    .col-inputs {
        margin: 10px;
        min-width: 30%;
    }

    .row-col-inputs {
        width: calc(100% - 100px);
        margin: 0 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .modal-content {
        width: 33%;
    }


}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**********************************/
/**********************************/

/* The Modal (background) */
.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.side-modal-content {
    background-color: #ffffff;
    margin: 130px 10px 10px 10px;
    padding: 0;
    border: 1px solid #888;
    width: calc(100% - 20px);
    border: none;
    border-radius: 10px;
}

.side-modal-container-row {
    padding-top: 20px;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.side-modal-container-row-top {
    padding: 20px;
    margin: 0 10px 20px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.side-modal-container {

}

.edit-icon {
    margin: 0 10px 0 0;
}

/* The Close Button */
.close-side-modal {
    color: #aaa;
    float: right;
    font-size: 200%;
    font-weight: bold;
    margin: 20px 0;
}

.close-side-modal:hover,
.close-side-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media screen and (min-width: 530px) {

    .top-bar {
        width: calc(100% - 200px);
        margin-left: 200px;
        height: 60px;
        background-color: white;

        align-items: center;
        justify-content: space-between;
        z-index: 3;
    }

    .side-modal-container-row {
        padding-top: 20px;
        margin: 0 20px 20px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .side-modal {
        background-color: transparent;
    }

    .side-modal-content {
        margin: 130px 50px 50px auto;
        padding: 0;
        border: 1px solid #888;
        width: 30%;
        min-width: 400px;
        height: calc(100vh - 180px);
    }

    .modal-content {
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }
}

.active {
    display: block;
}

